.chat-input-container {
  width: 100%;
  background-color: #ffffff;
  border-top: 1px solid #eeeeee;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-input-wrapper {
  padding: 8px 8px 8px 25px;
  display: flex;
  flex-direction: row;
  width: 55%;
  border: 1px solid #dadce0;
  border-radius: 15px;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
  position: relative;
}

.search-icon {
  flex-shrink: 0;
}

.chat-textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  outline: none;
  font-family: "Google Sans Flex", sans-serif;
}

.chat-submit-button {
  padding: 12px 30px;
  background-color: #8eb6f8;
  border: none;
  font-family: "Google Sans Flex", sans-serif;
  font-size: 0.8rem;
  border-radius: 50px;
  color: white;
  flex-shrink: 0;
}

.chat-submit-button.active {
  background-color: #4285f4;
  cursor: pointer;
}

.chat-submit-button:disabled {
  cursor: not-allowed;
}
