.chat-main-div {
  padding: 8px 8px 8px 25px;
  flex-direction: row;
  width: 55%;
  border: 1px solid #dadce0;
  border-radius: 40px;
  gap: 20px;
}

.chat-input {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  outline: none;
  font-family: "Google Sans Flex", sans-serif;
}

.chat-button {
  padding: 12px 30px;
  background-color: #8eb6f8;
  border: none;
  font-family: "Google Sans Flex", sans-serif;
  font-size: 0.8rem;
  border-radius: 50px;
  color: white;
}

.active {
  background-color: #4285f4;
  cursor: pointer;
}
