.message-list-container {
  width: 70vw;
  height: fit-content;
  padding: 10px;
  /* max-height: 80vh; */
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 100px;
}

::-webkit-scrollbar {
  display: none;
}

.thinking-indicator {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
}

.thinking-dots {
  display: flex;
  gap: 6px;
}

.thinking-dots span {
  width: 8px;
  height: 8px;
  background-color: #4285f4;
  border-radius: 50%;
  animation: bounce 1.4s infinite ease-in-out both;
}

.thinking-dots span:nth-child(1) {
  animation-delay: -0.32s;
}

.thinking-dots span:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
/* Add these improvements */
/* Update the media queries at the bottom */
@media (max-width: 1300px) {
  .message-list-container {
    width: 80vw;
  }
}

@media (max-width: 1024px) {
  .message-list-container {
    width: 90vw;
  }
}
/* Update these media queries */

@media (max-width: 768px) {
  .message-list-container {
    width: 95vw;
    padding: 5px;
    margin-top: 0px;
  }
}

@media (max-width: 480px) {
  .message-list-container {
    width: 98vw;
    padding: 3px;
    margin-top: 0px;
  }
}
