.sources-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  cursor: pointer;
  margin-top: 20px;
}

.sources-toggle {
  display: flex;
  flex-direction: row;
  gap: 7px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: #383a3d;
  font-weight: 500;
  transition: all 0.3s ease;
  align-items: center;
}

.sources-toggle:hover {
  color: #2764eb;
}

.sources-container {
  background-color: #f7f7f8;
  border: 1px solid #dddee1;
  display: flex;
  flex-direction: column;
  padding: 12px 14px;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
  pointer-events: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  width: 100%;
}

.sources-container.open {
  opacity: 1;
  gap: 15px;
}

.sources-container.closed {
  opacity: 0;
  transform: translateY(-10);
  height: 0px;
  padding: 0px;
  margin: 0;
}

.sources-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.sources-left {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 0.85rem;
  font-weight: 400;
  color: #000000;
  font-weight: 500;
}

.sources-left div {
  flex-direction: row;
}

.sources-left span {
  background-color: transparent;
  font-weight: 400;
  font-size: 0.7rem;
  padding: 0;
  border-radius: 0;
  color: #6b7280;
}

.visual-badge {
  background-color: #dbeafe !important;
  color: #2563eb !important;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 0.75rem;
  font-weight: 500;
}

.visual-badge::before {
  content: none !important;
  margin: 0 !important;
}

.sources-right {
  display: flex;
  align-items: center;
}

.download-link {
  display: flex;
  flex-direction: row;
  width: fit-content;
  background-color: #ffffff;
  border: 1px solid #bbc7fa;
  color: #0284c7;
  padding: 6px 8px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 500;
  gap: 5px;
  transition: all 0.3s ease;
  align-items: center;
}

.download-link:hover {
  background-color: #000000;
}

.sources-bottom {
  font-size: 0.75rem;
  font-weight: 300;
  color: #616a76;
}
