.sources-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  cursor: pointer;
}

.sources-toggle {
  display: flex;
  flex-direction: row;
  gap: 7px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: #676c77;
  font-weight: 500;
  transition: all 0.3s ease;
  align-items: center;
}

.sources-toggle:hover {
  color: #2764eb;
}

.sources-container {
  background-color: #fcfdfe;
  border: 1px solid #e0e8ef;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 10px;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.sources-container.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.sources-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.sources-left {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 0.9rem;
  font-weight: 500;
  align-items: center;
}

.sources-left span {
  background-color: #f3f4f6;
  font-weight: 300;
  font-size: 0.7rem;
  padding: 3px 5px;
  border-radius: 7px;
  color: #797f8c;
}

.visual-badge {
  background-color: #f3e8ff !important;
  color: #7c3aed !important;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.7rem;
}

.sources-right {
  display: flex;
  align-items: center;
}

.download-link {
  display: flex;
  flex-direction: row;
  width: fit-content;
  background-color: #ffffff;
  border: 1px solid #bbc7fa;
  color: #0284c7;
  padding: 6px 8px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 500;
  gap: 5px;
  transition: all 0.3s ease;
  align-items: center;
}

.download-link:hover {
  background-color: #e4f4ff;
}

.sources-bottom {
  font-size: 0.8rem;
  color: #616a76;
}
