.step-container {
  gap: 10px;
}

.step-icon-container {
  background-color: #dbeafe;
  padding: 10px;
  border-radius: 9999px;
  margin-bottom: 10px;
}

.title {
  font-size: 0.9rem;
  color: #111827;
  font-weight: 500;
  text-align: center;
}

.subtitle {
  font-size: 0.9rem;
  font-weight: 400;
  color: #7b8fb1;
  text-align: center;
}
