html {
  width: 100%;
}

#root {
  width: 100%;
}

body {
  min-height: 100vh;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  font-family: "Google Sans Flex", sans-serif;
  overflow-x: hidden;
}

.default {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body-specific {
  justify-content: flex-start;
}
